body {
    background-color: lightpink;
  }
  
h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    background-color: aquamarine;
    opacity: 0.8;
    text-shadow: 2px 2px red;
  }
h2 {
    color: brown;
}
p {
    font-family: verdana;
    font-size: 24px;
    color: lavender;
    text-decoration-line: underline overline;
  }
a {
    color: aqua;
    padding: 12px 20px;
}
table, th, td {
    border: 1px solid;
}